# OMNIKEY PCSC/lite hotplug notification
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="1021", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="0596", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3020", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3021", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3022", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3111", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3112", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3620", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="7021", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3621", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3623", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3821", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3822", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="3823", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5820", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5840", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="4321", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="4322", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="512D", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5120", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5121", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5122", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5123", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="C001", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="C100", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="C101", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5124", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5125", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="C104", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="C105", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5127", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5220", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5221", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5311", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5320", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5320", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5321", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5322", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5323", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A521", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5325", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="532A", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="532B", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5340", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5341", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5342", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5343", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="5421", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="1784", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="6622", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="6623", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="6310", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="6320", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="6321", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="632A", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="1BD0", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="1BD1", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="8630", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="9621", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A011", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A012", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A021", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A022", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A023", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A024", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A111", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A112", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="A721", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="B000", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="B001", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="C000", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="C200", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076B", ATTRS{idProduct}=="C300", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0BF8", ATTRS{idProduct}=="1005", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0BF8", ATTRS{idProduct}=="1006", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0BF8", ATTRS{idProduct}=="101B", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0BF8", ATTRS{idProduct}=="1021", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046A", ATTRS{idProduct}=="0010", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046A", ATTRS{idProduct}=="002D", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046A", ATTRS{idProduct}=="007B", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046A", ATTRS{idProduct}=="0090", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046A", ATTRS{idProduct}=="0091", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046A", ATTRS{idProduct}=="0092", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046A", ATTRS{idProduct}=="00A3", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
