Source: ifdokccid
Section: unknown
Priority: optional
Maintainer: Rob Dyke <rob@neovahealth.co.uk>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: ifdokccid
Architecture: all
Depends: ${misc:Depends}
Description: HID Global Omnikey drivers
 NHSbuntu packaged CCID / PCSC drivers for
 OMNIKEY 512X, 532X, 1021, 3X21, 6121 readers
